*{
	margin: 0px;
	padding: 0px;
}

header, section, footer, aside, nav, article, hgroup{
	display: block;
}

.PageTitle{
	text-align: center;
}

.body{
	text-align: center;
	background-image: url("background.jpg");
	background-size:cover;
	background-color: #4ab2f7;
	width: 90%;
	margin: 20px auto;
}

.container{
	display: inline-block;
	float: right;
}

.btn{
	display: inline-block;
	float: left;
}

.button{
    background-color: rgba(0,0,0,.5);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	border: 1px solid black;
	border-radius: 10%;
}

.button:hover {
    background-color: rgba(0,0,0,.5);
    color: white;
	border: 1px solid white;
	border-radius: 50%;
}

h1{
	font: bold 20px Tahoma;
}

h2{
	font: bold 15px Tahoma;
}

h3{
	font: bold 30px Tahoma;
}

#locationList{
	display: inline-block;
}

#xCoord{
	float: left;
}

#yCoord{
	float: right;
}

#texttitle{
	
}

#topsection{
	display: inline-block;
}

#3columndiv{
	 
}

#leftdiv{
	float: left;
	width:33%;
}

#map {
    height: 400px;
    width: 100%;
}

#middiv{
	display: inline-block;
	width:33%;
}
#rightdiv{
	float: right;
	width: 33%;
}

#latAndLong{
	display: inline-block;
}

#mapLongitude{
	float: right;
	width: 40%
}
#comma{
	display: inline-block;
}

#mapLatitude{
	float: left;
	width: 45%;
}

#x{
	float: left;
	display: inline-block;
	width: 49%;
	text-align: right;
}

#y{
	float: right;
	display: inline-block;
	width: 49%;
	text-align: left;
}

#locationList{
	display: inline-block;
}